<div class="articleDeatailPage">
	<h1 class="header">article details</h1>
	<div class="contentWrap">
		<div class="headImg">
			<img [src]="articleInfo.coverImg" alt="封面图" onerror="this.src='../../assets/images/loadImg.png'" />
		</div>
		<h1>{{ articleInfo.title }}</h1>
		<div class="articleInfoWrap">
			<span><i nz-icon nzType="user" nzTheme="outline"></i>覃腾波</span>
			<span>
				<i nz-icon nzType="calendar" nzTheme="outline"></i>
				<i>{{ articleInfo.updateDate | date: "y-MM-dd HH:mm:ss" }}</i>
			</span>
			<span><i nz-icon [iconfont]="'icon-fenlei1'"></i>{{ articleInfo.classification.name }}</span>
			<span><i nz-icon nzType="eye" nzTheme="outline"></i><i>{{ articleInfo.readNum }}</i></span>
		</div>
		<div class="leadWrp">{{ articleInfo.lead }}</div>
		<div class="content" markdown [data]="articleInfo.content" ngPreserveWhitespaces></div>
		<div class="tagWrap">
			<i nz-icon nzType="tag" nzTheme="outline"></i>
			<nz-tag *ngFor="let item of articleInfo.tag"># {{ item.name }}</nz-tag>
		</div>
		<div class="copyright">
			<span>©版权归作者所有，转载请注明出处</span>
		</div>
		<div class="btnWrap">
			<button *ngIf="preId" nz-button nzType="primary" nzSize="small" (click)="goToOtherArticle(preId)"><i nz-icon nzType="left" nzTheme="outline"></i> 上一篇</button>
			<button nz-button nzType="primary" nzSize="small" (click)="goToList()">返回列表</button>
			<button *ngIf="nxtId" nz-button nzType="primary" nzSize="small" (click)="goToOtherArticle(nxtId)">下一篇 <i nz-icon nzType="right" nzTheme="outline"></i></button>
		</div>
		<app-comment-box (submitForm)="submitForm($event)" #comment></app-comment-box>
		<div class="commentListWrap" *ngIf="total > 0">
			<div class="commentTitle">全部评论 <span>( <i>{{ total }}</i> )</span></div>
			<nz-divider></nz-divider>
			<div class="commentInfoWrap" *ngFor="let item of commentList; let i = index; trackBy: trackById">
				<img 
					[src]="item.commenter.avatar || '../../assets/images/touxiang.jpg'" 
					alt="头像" 
					onerror="this.src='../../assets/images/loadImg.png'"
				/>
				<div class="commentContainer">
					<div class="name">{{ item.commenter.name }}<i>{{ item.createDate | date: "y-MM-dd HH:mm:ss" }}</i></div>
					<div class="commentContent" markdown [data]="item.content" ngPreserveWhitespaces></div>
					<div class="comBtn">
						<span (click)="reply($event, item)">
							<i nz-icon [iconfont]="item.isClick ? 'icon-cancel' : 'icon-pinglun2'"></i> {{ item.isClick ? '取消回复' : '回复' }}
						</span>
					</div>
					<app-comment-box *ngIf="item.isClick" [index]="i" #parentComment (submitForm)="submitForm($event)"></app-comment-box>
					<div class="childCommentWrap" *ngIf="item.reply.length > 0">
						<div class="commentInfoWrap" *ngFor="let childItem of item.reply; let n = index; trackBy: trackById">
							<img 
								[src]="childItem.commenter.avatar || '../../assets/images/touxiang.jpg'" 
								alt="头像" 
								onerror="this.src='../../assets/images/loadImg.png'"
							/>
							<div class="commentContainer">
								<div class="name">{{ childItem.commenter.name }}<i>{{ childItem.createDate | date: "y-MM-dd HH:mm:ss" }}</i></div>
								<div class="commentContent" markdown [data]="childItem.content" ngPreserveWhitespaces></div>
								<div class="comBtn">
									<span (click)="reply($event, childItem, item, n)">
										<i nz-icon [iconfont]="!item.isClick && childItem.isClick ? 'icon-cancel' : 'icon-pinglun2'"></i> {{ !item.isClick && childItem.isClick ? '取消回复' : '回复' }}
									</span>
								</div>
								<app-comment-box *ngIf="childItem.isClick" [index]="n" [parentNum]="i" #childComment (submitForm)="submitForm($event)"></app-comment-box>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pageination" *ngIf="moreComment">
				<span (click)="loadMoreComment()"><i nz-icon nzType="arrow-down" nzTheme="outline"></i> 更多评论</span>
			</div>
		</div>
	</div>
</div>
