<div class="articleDeatailPage">
	<h1 class="header">article details</h1>
	<div class="contentWrap">
		<div class="headImg">
			<img [src]="articleInfo.coverImg" alt="封面图" onerror="this.src='../../assets/images/loadImg.png'" />
		</div>
		<h1>{{ articleInfo.title }}</h1>
		<div class="articleInfoWrap">
			<span><i nz-icon nzType="user" nzTheme="outline"></i>覃腾波</span>
			<span>
				<i nz-icon nzType="calendar" nzTheme="outline"></i>
				<i>{{ articleInfo.updateDate | date: "y-MM-dd HH:mm:ss" }}</i>
			</span>
			<span><i nz-icon [iconfont]="'icon-fenlei1'"></i>{{ articleInfo.classification.name }}</span>
			<span><i nz-icon [iconfont]="'icon-yuedu'"></i><i>{{ articleInfo.readNum }}</i></span>
		</div>
		<div class="leadWrp">{{ articleInfo.lead }}</div>
		<div class="content" markdown [data]="articleInfo.content" ngPreserveWhitespaces ngNonBindable></div>
		<div class="tagWrap">
			<i nz-icon nzType="tags" nzTheme="outline"></i>
			<nz-tag *ngFor="let item of articleInfo.tag"># {{ item.name }}</nz-tag>
		</div>
		<div class="copyright">
			<span>©版权归作者所有，转载请注明出处</span>
			<div class="btnWrap">
				<button nz-button nzType="primary" nzSize="small" (click)="goToList()"><i nz-icon [iconfont]="'icon-fanhui'"></i> 返回列表</button>
				<button *ngIf="preId" nz-button nzType="primary" nzSize="small" (click)="goToOtherArticle(preId)"><i nz-icon nzType="left" nzTheme="outline"></i> 上一篇</button>
				<button *ngIf="nxtId" nz-button nzType="primary" nzSize="small" (click)="goToOtherArticle(nxtId)">下一篇 <i nz-icon nzType="right" nzTheme="outline"></i></button>
			</div>
		</div>
		<div class="inputWrap">
			<img 
				[src]="commentForm.value.avatar && !(commentForm.get('avatar')?.dirty && commentForm.get('avatar')?.errors) ? commentForm.value.avatar : '../../assets/images/touxiang.jpg'" 
				alt="头像" 
			/>
			<form class="formWrap" nz-form [formGroup]="commentForm" (ngSubmit)="submitForm(commentForm)">
				<nz-form-item>
					<nz-form-control [nzSpan]="24">
						<textarea
							nz-input
							formControlName="content"
							placeholder="写下你的评论"
							[nzAutosize]="{ minRows: 3, maxRows: 6 }"
							(focus)="commentInputFocus()"
							(blur)="commentInputBlur()"
						></textarea>
						<nz-form-explain *ngIf="commentForm.get('content')?.dirty && commentForm.get('content')?.errors">
							<ng-container *ngIf="commentForm.get('content')?.hasError('empty')">
								评论内容不能为空哦！
							</ng-container>
							<ng-container *ngIf="commentForm.get('content')?.hasError('required')">
								评论内容不能为空哦！
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<nz-form-item *ngIf="isShow || commentForm.value.content">
					<nz-form-control [nzSpan]="7">
						<nz-input-group [nzPrefix]="prefixUrl">
							<input class="comInput" nz-input formControlName="avatar" placeholder="头像网址">
						</nz-input-group>
						<nz-form-explain *ngIf="commentForm.get('avatar')?.dirty && commentForm.get('avatar')?.errors">
							头像网址不正确！
						</nz-form-explain>
					</nz-form-control>
					<nz-form-control [nzSpan]="7">
						<nz-input-group [nzPrefix]="prefixUser">
							<input class="comInput" maxlength="10" nz-input formControlName="name" placeholder="你的昵称">
						</nz-input-group>
						<nz-form-explain *ngIf="commentForm.get('name')?.dirty && commentForm.get('name')?.errors">
							昵称不能为空哦！
						</nz-form-explain>
					</nz-form-control>
					<nz-form-control [nzSpan]="7">
						<nz-input-group [nzPrefix]="prefixMail">
							<input class="comInput" nz-input formControlName="email" placeholder="你的邮箱">
						</nz-input-group>
						<nz-form-explain *ngIf="commentForm.get('email')?.dirty && commentForm.get('email')?.errors">
							<ng-container *ngIf="commentForm.get('email')?.hasError('email')">
								邮箱格式不正确！
							</ng-container>
							<ng-container *ngIf="commentForm.get('email')?.hasError('required')">
								邮箱不能为空哦！
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
					<nz-form-control [nzSpan]="3">
						<button class="submitBtn" nz-button nzType="primary">发送</button>
						<button class="submitBtn" type="button" nz-button nzType="default" (click)="cancelSubmit()">取消</button>
					</nz-form-control>
				</nz-form-item>
			</form>
		</div>
		<div class="commentListWrap" *ngIf="total > 0">
			<div class="commentTitle">最新评论 <span>( <i>{{ total }}</i> )</span></div>
			<nz-divider></nz-divider>
		</div>
	</div>
</div>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
<ng-template #prefixUrl><i nz-icon type="global"></i></ng-template>
