<nz-layout>
  <nz-header class="headerWrap" [ngClass]="{ 'reveal': isNavFixed, 'alt': !isNavFixed }">
    <div class="header">
      <div class="logo" routerLink="">
        <img src="../../assets/images/logo.png">
      </div>
      <ul class="menu" nz-menu [nzMode]="'horizontal'">
        <li nz-menu-item [nzSelected]="activeIndex == ''" routerLink="">首页</li>
        <li nz-menu-item [nzSelected]="activeIndex == 'articleList' || activeIndex == 'articleDetail'" routerLink="/articleList">文章</li>
        <!-- <li nz-menu-item>摄影</li> -->
        <!-- <li nz-menu-item>关于</li> -->
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="footer">
    <div class="fotWrap" nz-row>
      <div nz-col nzSpan="10">
        <div>关于本博客</div>
        <div class="fotInfo">
          博客及后台管理系统使用<strong>Angular10</strong> + <strong>Ng-Zorro</strong>搭建，
          服务端使用<strong>Express</strong> + <strong>MongoDB</strong>开发。博客部署在阿里云，图片存储使用又拍云。<br/>
          博客主要分享个人工作和学习过程中的心得，会不定期更新。如果你有任何问题或者对博客有任何建议，欢迎邮件联系我！
        </div>
      </div>
      <div nz-col nzSpan="7" class="padleft">
        <div class="fotTitle">友情链接</div>
        <div class="fotContent">
          <a href="http://www.ruanyifeng.com/home.html" title="阮一峰的个人网站" target="_blank">阮一峰的个人网站</a>
        </div>
        <div class="fotContent">
          <a href="https://www.liaoxuefeng.com/" title="廖雪峰的官方网站" target="_blank">廖雪峰的官方网站</a>
        </div>
        <div class="fotContent">
          <a href="https://www.zhangxinxu.com/" title="张鑫旭的个人主页" target="_blank">张鑫旭的个人主页</a>
        </div>
      </div>
      <div nz-col nzSpan="7" class="padleft">
        <div class="fotTitle">联系方式</div>
        <div class="fotContent">
          <i nz-icon [nzIconfont]="'icon-tubiao209'"></i>
          <span>qintb@qintengbo.com</span>
        </div>
        <div class="fotContent">
          <i nz-icon nzType="github" nzTheme="outline"></i>
          <a href="https://github.com/qintengbo" title="github" target="_blank">github.com/qintengbo</a>
        </div>
        <!-- <div class="fotContent">
          <i nz-icon [nzIconfont]="'icon-lofter'"></i>
          <a href="http://qintengbo.lofter.com" title="lofter" target="_blank">qintengbo.lofter.com</a>
        </div>
        <div class="fotContent">
          <i nz-icon [nzIconfont]="'icon-jianti'"></i>
          <a href="https://www.jianshu.com/u/5f5a359361ac" title="简书" target="_blank">www.jianshu.com/u/5f5a359361ac</a>
        </div> -->
      </div>
    </div>
    <p>
      本博客由
      <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
        <img width="55px" src="../assets/images/youpaiyunLogo.png" >
      </a>
      提供CDN加速和云存储服务<br/>
      Copyright © 2020 qintengbo.com. All Right Reserved <a href="http://beian.miit.gov.cn" target="_blank">粤ICP备20067090号-1</a>
    </p>
  </nz-footer>
</nz-layout>