.headerWrap {
  position: fixed;
  left: 0;
  top: 0;
  height: 48px;
  padding: 0;
  line-height: 48px;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  .header {
    max-width: 1200px;
    margin: 0 auto;
    .logo {
      display: inline-block;
      color: #fff;
      span {
        font-size: 18px;
      }
    }
    .menu {
      float: right;
      background: transparent;
      border: 0;
      color: #a6a6a6;
    }
  }

  ::ng-deep .ant-menu-horizontal > .ant-menu-item:hover {
    color: #fff;
    border-bottom: 2px solid transparent;
  }
  ::ng-deep .ant-menu-horizontal > .ant-menu-item-selected {
    color: #fff;
    border-bottom: 2px solid transparent;
  }
}

.alt {
  animation: none;
  overflow: hidden;
  top: -50px;
}
.reveal {
  animation: reveal-header 0.5s ease;
  -webkit-animation: reveal-header 0.5s ease;
}

.footer {
  height: 60px;
  background: #111;
  color: #fff;
  p {
    text-align: center;
  }
  a {
    color: #fff;
  }
}

@keyframes reveal-header {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes reveal-header {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}