<div class="inputWrap">
	<img 
		[src]="commentForm.value.avatar && !(commentForm.get('avatar')?.dirty && commentForm.get('avatar')?.errors) ? commentForm.value.avatar : '../../assets/images/touxiang.jpg'" 
		alt="头像" 
		onerror="this.src='../../assets/images/loadImg.png'"
	/>
	<form class="formWrap" nz-form [formGroup]="commentForm" (ngSubmit)="submit($event, commentForm)">
		<nz-form-item>
			<nz-form-control [nzSpan]="24" [nzErrorTip]="contentErrorTpl">
				<textarea
					nz-input
					maxlength="1000"
					formControlName="content"
					placeholder="写下你的评论"
					[nzAutosize]="{ minRows: 3, maxRows: 6 }"
					(focus)="commentInputFocus()"
				></textarea>
				<ng-template #contentErrorTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						评论内容不能为空哦！
					</ng-container>
				</ng-template>
				<span class="tips" *ngIf="isShow || commentForm.value.content">* 评论支持Markdown语法，字数限制1000字</span>
			</nz-form-control>
		</nz-form-item>
		<div nz-row [nzGutter]="16" *ngIf="isShow || commentForm.value.content">
			<div nz-col [nzSpan]="4">
				<nz-form-item>
					<nz-form-control class="bqWrap">
						<button
							class="emojiBtn"
							type="button"
							nz-button
							nz-popover
							[nzPopoverContent]="emojiWrapTemplate"
							nzTooltipContent="bottomLeft"
							nzTooltipTrigger="click"
							[nzOverlayStyle]="{ left: '-12px' }"
						>
							<i nz-icon nzType="smile" nzTheme="outline"></i>
						</button>
						<span>按 Enter 发送</span>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzSpan]="6">
				<nz-form-item>
					<nz-form-control [nzErrorTip]="avatarErrorTpl">
						<nz-input-group nzPrefixIcon="global">
							<input class="comInput" nz-input formControlName="avatar" placeholder="头像网址">
						</nz-input-group>
						<ng-template #avatarErrorTpl let-control>
							<ng-container *ngIf="control.hasError('pattern')">
								头像网址不正确！
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzSpan]="5">
				<nz-form-item>
					<nz-form-control [nzErrorTip]="nameErrorTpl">
						<nz-input-group nzPrefixIcon="user">
							<input class="comInput" maxlength="10" nz-input formControlName="name" placeholder="你的昵称">
						</nz-input-group>
						<ng-template #nameErrorTpl let-control>
							<ng-container *ngIf="control.hasError('required')">
								昵称不能为空哦！
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzSpan]="5">
				<nz-form-item>
					<nz-form-control [nzErrorTip]="emailErrorTpl">
						<nz-input-group nzPrefixIcon="mail">
							<input class="comInput" nz-input formControlName="email" placeholder="你的邮箱">
						</nz-input-group>
						<ng-template #emailErrorTpl let-control>
							<ng-container *ngIf="control.hasError('email')">
								邮箱格式不正确！
							</ng-container>
							<ng-container *ngIf="control.hasError('required')">
								邮箱不能为空哦！
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col [nzSpan]="4">
				<nz-form-item>
					<nz-form-control>
						<button class="submitBtn" nz-button nzType="primary">发送</button>
						<button class="submitBtn marginLeft0" type="button" nz-button nzType="default" (click)="cancelSubmit()">取消</button>
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>
	</form>
	<nz-modal
		[(nzVisible)]="isVisible" 
		nzTitle="图片验证码" 
		(nzOnCancel)="handleCancel()" 
		(nzOnOk)="handleOk()"
	>
		<p>请输入图片中的验证码，不区分大小写：</p>
		<div>
			<input 
				class="modalInput" 
				nz-input 
				#imgCodeInput
				placeholder="请输入验证码" 
				[(ngModel)]="imgCodeText"
				(keyup.enter)="handleOk($event)"
			/>
			<img class="modalImg" [src]="imgCodeSrc" alt="验证码图片" (click)="getNewImgCode()" />
		</div>
	</nz-modal>
</div>
<ng-template #emojiWrapTemplate>
	<div class="popoverWrap">
		<div class="orderBtnWrap">
			<span *ngFor="let ele of [1, 2, 3, 4, 5]" (click)="emojiTabChange(ele)" [class.emojiTabActive]="tabNum === ele"></span>
		</div>
		<div class="emojiContent">
			<span *ngFor="let item of emojiArr" (click)="emojiClick(item)">{{ item }}</span>
		</div>
	</div>
</ng-template>