.inputWrap {
	position: relative;
	.formWrap {
		margin-left: 60px;
		.tips {
			position: absolute;
			right: 0;
			bottom: -39px;
			font-size: 12px;
			color: #999;
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 1px solid #f5f5f5;
		padding: 2px;
	}
	.comInput {
		width: calc(100% - 15px);
	}
	.submitBtn {
		float: right;
		margin-left: 7px;
		margin-top: 3px;
	}
	.marginLeft0 {
		margin-left: 0;
	}
	.bqWrap {
		color: #999;
		span {
			vertical-align: middle;
		}
		.emojiBtn {
			padding: 0;
			border: 0;
			height: auto;
			box-shadow: none;
			margin-right: 10px;
			i {
				font-size: 18px;
				vertical-align: middle;
				cursor: pointer;
			}
		}
	}

	:host ::ng-deep .ant-form-explain {
		font-size: 12px;
	}
}

.modalInput {
	width: calc(~'100% - 170px');
	margin-right: 20px;
	vertical-align: middle;
}
.modalImg {
	cursor: pointer;
}
.popoverWrap {
	width: 320px;
	.orderBtnWrap {
		text-align: center;
		height: 32px;
		line-height: 32px;
		span {
			display: inline-block;
			width: 8px;
			height: 8px;
			background: #8c8c8c;
			margin: 0 5px;
			border-radius: 50%;
			cursor: pointer;
			transition: background-color 0.1s;
			&:hover {
				background: #737373;
			}
		}
	}
	.emojiContent {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		flex-shrink: 0;
		span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			color: #404040;
			width: 32px;
			height: 32px;
			padding: 4px;
			border-radius: 4px;
			cursor: pointer;
			overflow: hidden;
			flex-shrink: 0;
			&:hover {
				background: rgba(51, 51, 51, 0.1);
			}
		}
	}
	.emojiTabActive {
		pointer-events: none;
		background-color: #595959;
	}
}