.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 48px;
  padding: 0;
  line-height: 48px;
  text-align: right;
  width: 100%;
  z-index: 999;
  color: #a6a6a6;
  background: rgba(0, 0, 0, 0.975);
  .menuSelect {
    display: inline-block;
    color: #fff;
    padding: 0 18px 0 10px;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    font-family: 'Poppins';
    cursor: pointer;
    i {
      margin-right: 5px;
    }
  }
}
.alt {
  animation: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  position: absolute;
  top: 22px;
}
.reveal {
  animation: reveal-header 0.5s ease;
}
.logo {
  display: inline-block;
  height: inherit;
  line-height: inherit;
  position: absolute;
  top: 0;
  left: 18px;
  img {
    height: 30px;
    margin-right: 5px;
    margin-bottom: 4px;
  }
  span {
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins';
  }
}