/* global styles */
// 全局变量
@global-color: #51CCA8;

html {
  font-size: 62.5%;
}
body {
  color: #444;
  overflow-x: hidden;
}
li, p, div, span:focus {
	outline: 0;
}
img {
  max-width: 100%;
}

/* clear float */
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}