<div class="homePage">
  <div class="banner">
    <nz-carousel [nzEffect]="'fade'" [nzDots]="false" [nzAutoPlaySpeed]="10000" nzAutoPlay>
      <div nz-carousel-content class="bannerWrap" *ngFor="let item of bannerArr; trackBy: trackById">
        <img [src]="item.imgUrl" alt="">
        <div class="bannerTitle">
          <p>{{ item.mainTitle }}</p>
          <p>{{ item.subtitle }}</p>
        </div>
      </div>
    </nz-carousel>
    <div class="downBtn">
      <i nz-icon [nzIconfont]="'icon-xiajiantou'"></i>
    </div>
  </div>
  <div class="container">
    <div class="articleWrap">
      <div class="articleImg">
        <img [src]="articleNew.coverImg" alt="" onerror="this.src='../../assets/images/loadImg.png'" />
      </div>
      <h1>{{ articleNew.title }}</h1>
      <div class="articleInfoWrap">
        <span><i nz-icon nzType="user" nzTheme="outline"></i>覃腾波</span>
        <span>
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
          <i>{{ articleNew.updateDate | date: "y-MM-dd HH:mm:ss" }}</i>
        </span>
        <span><i nz-icon [nzIconfont]="'icon-fenlei1'"></i>{{ articleNew.classification.name }}</span>
        <span><i nz-icon nzType="eye" nzTheme="outline"></i><i>{{ articleNew.readNum }}</i></span>
      </div>
      <div class="leadWrp">{{ articleNew.lead }}</div>
      <div class="content" name="markdown" markdown [data]="articleNew.content" ngPreserveWhitespaces></div>
      <div class="moreBtn" routerLink="/articleDetail/{{ articleNew._id }}">继续阅读</div>
    </div>
    <div class="articleListWrap" nz-row nzGutter="56">
      <div nz-col class="articleCol" nzSpan="12" *ngFor="let item of articleList; trackBy: trackById">
        <div class="articleCard">
          <div class="articleListImg">
            <img [src]="item.coverImg" alt="" onerror="this.src='../../assets/images/loadImg.png'" />
          </div>
          <h2>{{ item.title }}</h2>
          <div class="articleInfoWrap textCenter">
            <span><i nz-icon nzType="user" nzTheme="outline"></i>覃腾波</span>
            <span>
              <i nz-icon nzType="calendar" nzTheme="outline"></i>
              <i>{{ item.updateDate | date: "y-MM-dd HH:mm:ss" }}</i>
            </span>
            <span><i nz-icon [nzIconfont]="'icon-fenlei1'"></i>{{ item.classification.name }}</span>
            <span><i nz-icon nzType="eye" nzTheme="outline"></i><i>{{ item.readNum }}</i></span>
          </div>
          <nz-divider></nz-divider>
          <div class="articleLead">{{ item.lead }}</div>
          <div class="moreBtn" routerLink="/articleDetail/{{ item._id }}">查看详情</div>
        </div>
      </div>
    </div>
    <div class="searchWrap">
      <div class="toBtn" routerLink="/articleList">查看更多文章</div>
    </div>
  </div>
</div>
