.homePage {
  .banner {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    .bannerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: inline-block;
      z-index: 10;
      color: #fff;
      p {
        position: relative;
        color: rgba(255, 255, 255, 0.65);
        font-family: 'Poppins', 'sans-serif';
        padding-bottom: 25px;
        letter-spacing: 3.67px;
        margin: 0;
        &:after {
          content: '';
          position: absolute;
          margin: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.65);
        }
      }
      h2 {
        font-size: 102px;
        color: #fff;
        font-family: 'Poppins', 'sans-serif';
      }
    }
  }
  .bannerWrap {
    height: 100%;
    text-align: center;
    width: 100%;
    transition: none !important;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.35;
    }
  }
  ::ng-deep .ant-carousel .slick-slider, 
  ::ng-deep .ant-carousel .slick-list, 
  ::ng-deep .ant-carousel .slick-track {
    height: 100%;
  }
  ::ng-deep .ant-carousel .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
  ::ng-deep .ant-carousel .slick-dots li.slick-active button {
    width: 10px;
  }
  ::ng-deep .ant-carousel .slick-dots {
    bottom: 45px;
    z-index: 99;
  }
  ::ng-deep .ant-carousel .slick-slide img {
    width: 100%;
  }
}